body
{
	background-image : url(Alternance2.png) ; 
	background-repeat : no-repeat ; 
	background-position : full ;
	background-size : cover ; 
}

h1
{
	color : darkblue ;
	width : auto ; 
	text-align : center ;

}


h2
{
	color : blue ;
	width : auto ;
    text-align : center ;
}


.center-div
{
  margin: 0 auto ;
  width: 400px ;
  padding-top:10px ;
  padding-bottom:10px ;
  border: 3px solid #A0A0A0 ;
  text-align: center ;
  background: #C0C0C0 ;
  margin-top: 47vh;
  transform: translateY(-50%);
}