body
{
	background-image : url(bureau.jpg) ; 
	background-repeat : no-repeat ; 
	background-position : full ;
	background-size : cover ; 
}

.header {
  padding: 10px;
  text-align: center;
  background: #FFFFFF;
  color: white;
  font-size: 25px;
  padding-left : 1050px ;
}

a
{
	color : black ;
	text-decoration : none ;
}

h1
{
	color : Black ;
	width : auto ; 
	text-align : center ;
}

.center-div
{
  margin: 0 auto ;
  width: 1200px ;
  padding-top:10px ;
  padding-bottom:10px ;
  border: 3px solid #A0A0A0 ;
  text-align: center ;
  background: #C0C0C0 ;

}